Java/TCP_Test/nbproject/private/
Java/TCP_Test/build/
Java/Main/dist/
Java/Main/build/
Avr/Main_atmega644pa/Main_atmega644pa/Debug/
Java/Main/build/
Java/Main/build/classes/main/
Java/Main/build/classes/
Java/Main/build/built-jar.properties
Exam_Project/Exam_Project_2/.metadata/
Exam_Project/Exam_Project_2/F99x-98x_SMBus_Master/Keil 8051 v9.53 - Debug/
